/* Coolors Exported Palette - https://coolors.co/44af69-f8333c-fcab10-2b9eb3-dbd5b5 */

/* CSS HEX */
--jade: #44af69ff;
--imperial-red: #f8333cff;
--orange-web: #fcab10ff;
--moonstone: #2b9eb3ff;
--pearl: #dbd5b5ff;

/* CSS HSL */
--jade: hsla(141, 44%, 48%, 1);
--imperial-red: hsla(357, 93%, 59%, 1);
--orange-web: hsla(39, 98%, 53%, 1);
--moonstone: hsla(189, 61%, 44%, 1);
--pearl: hsla(51, 35%, 78%, 1);

/* SCSS HEX */
$jade: #44af69ff;
$imperial-red: #f8333cff;
$orange-web: #fcab10ff;
$moonstone: #2b9eb3ff;
$pearl: #dbd5b5ff;

/* SCSS HSL */
$jade: hsla(141, 44%, 48%, 1);
$imperial-red: hsla(357, 93%, 59%, 1);
$orange-web: hsla(39, 98%, 53%, 1);
$moonstone: hsla(189, 61%, 44%, 1);
$pearl: hsla(51, 35%, 78%, 1);

/* SCSS RGB */
$jade: rgba(68, 175, 105, 1);
$imperial-red: rgba(248, 51, 60, 1);
$orange-web: rgba(252, 171, 16, 1);
$moonstone: rgba(43, 158, 179, 1);
$pearl: rgba(219, 213, 181, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-right: linear-gradient(90deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-bottom: linear-gradient(180deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-left: linear-gradient(270deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-top-right: linear-gradient(45deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-bottom-right: linear-gradient(135deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-top-left: linear-gradient(225deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-bottom-left: linear-gradient(315deg, #44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);
$gradient-radial: radial-gradient(#44af69ff, #f8333cff, #fcab10ff, #2b9eb3ff, #dbd5b5ff);